@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --primary-color: #063562;
    --secondary-color: #79B791;
    --accent1-color: #275C30;
    --accent2-color: #96031A;

    --heading-font: 'Shadows Into Light', serif;
    --paragraph-font: 'Shadows Into Light', serif;

    --nav-background-color: #063562;
    --nav-link-color: #79B791;
    --nav-hover-link-color: #275C30;
    --nav-hover-background-color: #96031A;
}

/* Body Styles */
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Header Styles */
header {
    padding: 20px;
    background-color: var(--accent1-color);
}

/* Paragraph Styles */
p {
    padding: 25px;
}

/* Navigation Styles */
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited { 
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

