@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

body {
 font-family: 'Raleway', sans-serif;
 color: var(--primary-color);
 background-color: hsl(0, 0%, 100%);
}

:root {
  --primary-color: #063562;
  --secondary-color: #79B791;
  --accent1-color: #275C30;
  --accent2-color: #96031A;
  --heading-font: 'Raleway', serif;
  --paragraph-font: 'Raleway', serif;
  --nav-background-color: #063562;
  --nav-link-color: #79B791;
  --nav-hover-link-color: #275C30;
  --nav-hover-background-color: #96031A;
  --nav-link-color: #ffffff;
}

.header-home {
  background-color: #275C30;
}
.grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style for logo */
  .logo-cell {
    width: 50px; /* Width of logo */
    padding: 5px; /* Add some padding for space */
  }
  
  .logo-cell img {
    width: 100%; /* Make the image fill the container */
  }
  
  .nav-box nav a { color: #fff; }
  
  /* Style for navigation */
  .nav-box {
    border: 1px solid #ccc; /* Border for the nav box */
    display: flex; /* Flexbox for navigation items */
  }
  
  .nav-box nav {
    display: flex; 
    text-decoration: none;
  }
  
  .nav-box a {
    padding: 10px;
    text-decoration: none; 
  }
  
  /* Add border between nav items */
  .nav-box a + a {
    border-left: 1px solid #ccc;
  }
  
  .grid-container {
    max-width: 1200px;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
  }
  
  footer .sociallinks a {
    text-decoration: none;
  }
  footer {
    display: grid;
    background-color: #275C30;
    padding: 20px;
    text-align: right;
    color: rgb(231, 253, 255);
  }
  
  footer p {
    margin-bottom: 10px;
    align-items: right;
  }
  
  .sociallinks img {
    width: 30px;
    height: 30px; 
    -fit: contain; 
  }  

  /* ------------------------------- */

  .contact-info {
    display: grid;
    grid-template-columns: 250px 1fr;
    font-weight: bold;
  }

  .contact {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    color: #063562;
  }

  .map {
    grid-column: 2/4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.employees-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2;
  gap: 20; 
}

.employees {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.jerry {
  grid-row: 1;
  grid-column: 1;
  width: 500px;
}

.jerry img {
  width: 5000px;
}

.bandit {
  grid-row: 1;
  grid-column: 2;
  width: 500px;
}

.bandit img {
  width: 400px;
  height: auto;
}

.simpson {
  grid-row: 1;
  grid-column: 3;
  width: 500px;
}

.simpson img {
  width: 400px;
  height: auto;
}

.employees div {
  text-align: center;
}

.employees img {
  width: 100px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}




