nav {
    background-color: pink;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid lavender;
    padding: 2px;
    box-shadow: 0 0 30px pink;
}

p {
    padding: 10px;
}

